@model EF.Models.SettingsTb

@{
    ViewBag.Title = "إتصل بنا";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-heading">
    <div>إتصل بنا<small></small></div>
</div>
<div class="card card-default">
    <div class="card-heading"><h2> </h2></div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "ContactUs", FormMethod.Post, new { @id = "LogForm" }))
        {
            @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" style="text-align:center">
                    @if (ViewBag.success != null && ViewBag.success != "")
                    {
                        <div class="alert alert-success alert-dismissible fade show"><button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><b> @ViewBag.success </b></div>
                    }
                    @if (ViewBag.error != null && ViewBag.error != "")
                    {
                        <div class="alert alert-danger alert-dismissible fade show"><button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><b> @ViewBag.error </b></div>
                    }
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContactPhones, "رقم الإتصال", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ContactPhones, new { htmlAttributes = new { @class = "form-control AR3" } })
                    @Html.ValidationMessageFor(model => model.ContactPhones, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="form-group">
                @Html.LabelFor(model => model.WhatsappPhone, "رقم الوتساب", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WhatsappPhone, new { htmlAttributes = new { @class = "form-control AR4" } })
                    @Html.ValidationMessageFor(model => model.WhatsappPhone, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <div class="form-group">
                @Html.LabelFor(model => model.ContactEmail, "الإيميل", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ContactEmail, new { htmlAttributes = new { @class = "form-control AR5" } })
                    @Html.ValidationMessageFor(model => model.ContactEmail, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" style="text-align:center;">
                    <input type="submit" value="حفظ" onclick="formsubmitContact(); return false;" class="btn btn-info" />
                </div>
            </div>

        </div>
        }
    </div>
</div>

@section scripts{
    <script src="~/AdminArea/modules/about-contact-terms-module1.0.js"></script>
}